In [1]:
# Count number of files in each dir in output/wordreference_words/es:
from pathlib import Path

dir2count = {}
for i, path in enumerate(Path("output/wordreference_words/es").rglob("*")):
    # print(path)
    # if i == 10:
    #     break
    if path.is_file():
        dir_name = path.parent.name
        if dir_name not in dir2count:
            dir2count[dir_name] = 0
        dir2count[dir_name] += 1

In [2]:
import pandas as pd

x = pd.Series(dir2count).sort_values(ascending=False)
x.value_counts().sort_index()

1    210481
2        20
3     18775
Name: count, dtype: int64

In [2]:
from pathlib import Path

dir2count = {}
for i, path in enumerate(Path("output/wordreference_words/en").rglob("*")):
    if path.is_file():
        dir_name = path.parent.name
        if dir_name not in dir2count:
            dir2count[dir_name] = 0
        dir2count[dir_name] += 1

In [3]:
import pandas as pd

x = pd.Series(dir2count).sort_values(ascending=False)
x.value_counts().sort_index()

1    341640
6        24
7      1618
8      9123
9      7262
Name: count, dtype: int64

In [5]:
# Check words with 6:
x[x == 6]

dinner      6
bouquet     6
bow         6
bowling     6
bowl        6
midst       6
modest      6
box         6
bout        6
axis        6
mighty      6
mild        6
acumen      6
bowed       6
acute       6
might       6
acutely     6
midget      6
boxer       6
mildly      6
midnight    6
famine      6
bowel       6
midwife     6
dtype: int64

----------------------------

In [13]:
import pandas as pd

df_words = pd.read_csv(
    "data/CREA_total.TXT", sep="\t", encoding="Latin-1", names=["rank", "words", "freq_abs", "freq_rel"], header=0,
    )

df_words.head(2)

/tmp/ipykernel_1620879/2969843951.py:3: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_words = pd.read_csv(

   rank words    freq_abs  freq_rel
0   1.0    de  9,999,518   65545.55
1   2.0    la  6,277,560   41148.59

In [21]:
df_words.query("words == 'rupert'")

          rank   words   freq_abs  freq_rel
38515  38516.0  rupert        173      1.13

In [12]:
df_words["words"].str.strip()

0                                     de
1                                     la
2                                    que
3                                     el
4                                     en
                       ...
737794                        zzzzzzzzzz
737795                  zzzzzzzzzzzantes
737796                     zzzzzzzzzzzzz
737797                 zzzzzzzzzzzzzzzzz
737798    zzzzzzzzzzzzzzzzzzzzzzzzzzzzzz
Name: words, Length: 737799, dtype: object

In [6]:
import chardet

with open("data/CREA_total.TXT", 'rb') as f:
    result = chardet.detect(f.read())

print(result)

{'encoding': 'ISO-8859-1', 'confidence': 0.7297232107037379, 'language': ''}

In [5]:
import requests

session = requests.Session()
timeout = 10  # seconds

url = "https://raw.githubusercontent.com/dwyl/english-words/refs/heads/master/words_alpha.txt"
resp = session.get(url, timeout=timeout)
resp.raise_for_status()
text = resp.text.replace("ń", "ñ").replace("Ń", "Ñ")  # fix for ñ error...
words = [w.strip() for w in text.splitlines() if w.strip()]
if not words:
    raise RuntimeError("Word list is empty.")
words = sorted(set(words))  # Remove duplicates and sort

In [6]:
"ricochet" in words

True